%boton {
    background: transparent;
    text-align: center;
    margin: 0.5em 0.1em;
    padding: 0.8em 0;
    width: 13em;
    border: 2px solid #ffae00;
    border-radius: 25px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}