/////////* ------------------- *//////////
/////////* START CLIENTES PAGE *//////////
/////////*     MOBILE FIRST    *//////////
/////////* ------------------- *//////////

/* Start Background Image + Contact Form */
.clientes-body{
    background: center fixed url(../images/pages/clientes.png);
    background-size: cover;

    main{
        height: 100vh;
    }
}