/////////* ------------------- *//////////
/////////* START CONTACTO PAGE *//////////
/////////*     MOBILE FIRST    *//////////
/////////* ------------------- *//////////

/* Start Background Image + Contact Form */
.contacto-body {
    background: center fixed url(../images/pages/contacto.png);
    background-size: cover;

    main {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .contact-section.contact-section {
            padding: 20px;
            width: 90%;
            background: #000;
            box-shadow: 0px 1px 26px 10px rgb(65, 65, 65);
            opacity: 0.8;

            .tittle-container {
                text-align: center;

                span {
                    font-size: 35px;
                    font-weight: bold;
                    color: #dedede;
                }
            }

            .mail-container {
                margin-top: 5px;
                padding: 10px;
                display: flex;
                flex-direction: column;

                p {
                    padding: 5px;
                    margin: 0;

                    i {
                        color: #dedede;
                        font-size: 17px;
                        margin-right: 5px;
                    }

                    span {
                        color: #dedede;
                        font-size: 16px;
                    }
                }
            }

            .form-container {
                padding: 10px;

                form {
                    display: flex;
                    flex-direction: column;

                    .contact-text {
                        background: #111;
                        color: #dedede;
                        width: 100%;
                        margin: 16px 0;
                        padding: 15px 25px;
                        border: 0;
                        border-radius: 25px;
                        outline: none;
                        transition: 0.5s;

                        &:focus {
                            box-shadow: 0 0 10px 4px #34495e;
                        }
                    }

                    textarea {
                        resize: none;
                        height: 120px;
                    }

                    .container-button {
                        display: flex;
                        justify-content: center;
                        margin-top: 15px;

                        .contact-button {
                            background: transparent;
                            text-align: center;
                            margin: 0.5em 0.1em;
                            padding: 0.8em 0;
                            width: 10em;
                            border: 2px solid #ffae00;
                            border-radius: 25px;
                            font-weight: bold;
                            color: #fff;
                            transition: 0.4s;

                            &:hover {
                                border: none;
                                color: #000000;
                                background: #ffae00;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
    }
}

/////////* ----------------- *//////////
/////////* END CONTACTO PAGE *//////////
/////////*    MOBILE FIRST   *//////////
/////////* ----------------- *//////////







//////////* ------------------- *//////////
//////////* START MEDIA QUERIES *//////////
//////////* ------------------- *//////////


/////* Start Tablet View - Landscape */////
@media screen and (min-width: 768px) {

    .contacto-body {
        main {
            .contact-section.contact-section {
                width: 35em;
                padding: 22px;

                .tittle-container {
                    span {
                        font-size: 50px;
                        text-shadow: 3px 3px #000;
                    }
                }

                .mail-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;


                    p {
                        i {
                            font-size: 18px;
                        }

                        span {
                            font-size: 17px;
                        }
                    }
                }

                .form-container {
                    form {
                        .container-button {
                            .contact-button {
                                width: 13em;
                            }
                        }
                    }
                }
            }
        }
    }
}

/////* End Tablet View - Landscape */////




/////* Start Notebook View */////
@media screen and (min-width: 1024px) {
    .contacto-body {
        main {
            .contact-section.contact-section {
                width: 40em;
                padding: 40px;

                .mail-container {
                    p {
                        i {
                            font-size: 18px;
                        }

                        span {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

/////* End Notebook View */////