/////////* ------------------- *//////////
/////////* START CONTACTO PAGE *//////////
/////////*     MOBILE FIRST    *//////////
/////////* ------------------- *//////////

/* Start Background Image + Contact Form */
.contacto-body{
    background: center fixed url(../images/pages/contacto.png);
    background-size: cover;

    main{
        height: 100vh;
    }
}